
<div class="product-details">
    <div class="brand">
        <span>Brand: M A Zoya</span>
    </div>
    <div class="title">
        <p>
            N1 M A Zoya Fashion Hair Clips For Baby Girl's |Woman's| Girls| Gift Pack|Hair Bows,Elastic, Hair Ties, Hair ,Ponytail Holder, Hairpins Set For Baby Girls Teens Toddlers (Pink) 18 Pcs/Set 
        </p>
    </div>
    <div class="product-detali-img">
        <div class="offer">
            <p>60% off </p>
        </div>
        <div class="pd-imags">
            <!-- <img src="../assets/images/product/mug/snoopy1.jpg" width="80%"> -->
            <app-carousel></app-carousel>
        </div>
        <div class="share">
           <button>
            <i class="fas fa-share-alt"></i>
           </button>
        </div>
    </div>

    <div class="amount">
        <h6><i class="fas fa-rupee-sign"></i>499/-</h6>
        <h3>MRP: <i class="fas fa-rupee-sign"></i><span>1299.00</span></h3>
        <span>Save <i class="fas fa-rupee-sign"></i> 800.00</span>
    </div>
    <div class="delivery-time">
        <h5>Free delivery: <span>April 7 - 8 </span>Details</h5>
    </div>
    <div class="in-stoch">
        <h4>In stock</h4>
        <p>Sold by <span>M A Zoya Fashions</span> and Delivery By <span>DHL</span></p>
    </div>
    <div class="add-image m-t-20">
        <img src="../assets/images/add/add_2.gif" width="100%">
    </div>
    

</div>