@import '../assets/scss/import';

.top-bar {
    background: #cccccc;
    height: $base-size*15;

    .free-delivery {
        p{
            line-height: $base-size*14;
            font-weight: 700;
    
            span{
                font-weight: lighter;
            }
        }
    }
    
}