<div class="top-bar">
    <div class="container-fluid p-l-40 p-r-40">
        <div class="row">
            <div class="col-md-2">
                <div class="slide-logo p-b-5">
                    <img src="../assets/images/logo.svg" width="125" alt="M A Zoya Logo">
                </div>
            </div>
            <div class="col-md-6">
                <div class="free-delivery">
                    <p>Free Delivery: <span> Take advantage of our time to save event</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <p>checkk</p>
                </div>
            </div>
        </div>

        <!-- =================================================================
    Start Left Sidebar Css
================================================================= -->
        <aside class="left-sidebar">
            <div class="side-bar">
                <div class="container">
                    <div class="row">
                        <input type="checkbox" name="toggle" id="toggle" />
                        <label for="toggle">
                            <img src="../assets/images/menu.svg" width="20" alt="Menu">
                        </label>
                        <!-- <div class="overlay"></div> -->
                        <div class="message">
                            <div class="slide-logo">
                                <img src="../assets/images/logo-white.svg" width="125" alt="M A Zoya Logo">
                            </div>
                            <div class="side-bar-nav">
                                <nav id="nav">
                                    <ul class="mainmenu m-t-90 clearfix">
                                        <li>
                                            <button><span>Admin</span>
                                                <img src="../assets/images/profile_arrow.svg" width="10" alt="profile Arrow">
                                            </button>
                                            <ul class="submenu">
                                                <li>
                                                    <button class="active"><img
                                                            src="../assets/images/select_channel.svg"
                                                            alt="Channels">Channels</button>
                                                </li>
                                                <li>
                                                    <button><img src="../assets/images/advertiser.svg"
                                                            alt="Advertiser">Advertiser</button>
                                                </li>
                                                <li>
                                                    <button><img src="../assets/images/user.svg"
                                                            alt="User">User</button>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <ul class="mainmenu clearfix">
                                        <li>
                                            <button><span>Product Configrator</span>
                                                <img src="../assets/images/profile_arrow.svg" width="10" alt="Menu">
                                            </button>
                                            <ul class="submenu">
                                                <li>
                                                    <button class="active"><img src="../assets/images/select_user.svg"
                                                            alt="Rate Card">Rate
                                                        Card</button>
                                                </li>
                                                <li>
                                                    <button><img src="../assets/images/channel.svg"
                                                            alt="Packages">Packages</button>
                                                </li>
                                                <li>
                                                    <button><img src="../assets/images/combos.svg"
                                                            alt="Combos">Combos</button>
                                                </li>
                                                <li>
                                                    <button><img src="../assets/images/user.svg"
                                                            alt="Schemes">Schemes</button>
                                                </li>
                                                <li>
                                                    <button><img src="../assets/images/simulator.svg"
                                                            alt="Simulator">Simulator</button>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- =================================================================
    End Left Sidebar Css
================================================================= -->


        <!-- <div class="row">
        <div class="col-md-6">
            <div>
                <a routerLink="home">Home</a>
                <br>
                <a routerLink="about">About</a>
            </div>
        </div>
    </div> -->

        <router-outlet></router-outlet>
    </div>
</div>